* {
    padding:0px;
    margin:0px;
    font-family: arial; 
}
html {
    width:100%;
    height:100%;
    font-size: 16px;
}
body {
    background: black;
	color: white;
    width: 100%;
    height: 100%;
}
ul {
    list-style-type: none;
}
h1 {
    padding:20px;
}
h2 {
    padding:10px;
}
.error {
    background-color:#772222;
    color:#FF8888;
    padding:10px;
    max-width:100%;
    margin:10px;
    border-radius:10px;
}
.both-column {
    display: flex;
}

.row{
    flex-direction: row;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    flex:1;
    margin:1%;
    padding:1%;
}

.small-blocks {
	display: grid;
    justify-content: space-around;
    align-items: center;
}
.container-for-grid {
    display:grid;
    grid-template-columns: 50% 50%;
}
.big-card{
    flex:1;
    display: inline-grid;
    background-color: #202021;
    padding: 15px;
    margin:20px;
    border-radius:5px;
}

.big-card p {
    font-size: 15px;
    text-align: right;
}

span.big-card-title {
    font-size: 30px;
}

span.big-card-pourcent {
    font-size: 40px;
    text-align: center;
    font-weight:bold;
}
span.big-card-pourcent .pourcent-sign{
    font-size: 20px;
    font-weight:normal;
}
.autocomplete {
    background-color:#101011;
    border-radius:0px 0px 5px 5px;
    overflow:hidden;
    position:absolute;
    width:calc(100% - 20px);
    margin:0px 10px;
}
.list-line {
    display:flex;
    border-top:1px solid #333;
    padding:5px;
}
.list-line.hover:hover {
    cursor:pointer;
}
.list-line.hover:hover {
    background-color:#333;
}

/* Container for sections bars */
.container-section {
  width: 100%; /* Full width */
}

.section {
  text-align: right; /* Right-align text */
  padding: 10px; /* Add some padding */
  color: white; /* White text color */
}
.data-big {
    font-weight:bold;
    font-size:2em;
    margin:5px;
    display:inline-block;
    flex:1;
}
.data-description {
    color:#AAA;
    display:inline-block;
    vertical-align:top;
    flex:6;
}
.details {
    color:#666;
    font-size:0.8em;
}
.big-card .details {
    text-align:right;
    margin-left:10%;
}

/* Graph stuff */
.block {
    margin: 25px;
    float: left;
}

.line-chart {
    height: 100%;
}

.block-card {
    padding: 15px; 
    width: calc(100% - 30px);
    color:white;
    background-color: #202021;
    border-radius:10px;
    margin:20px 0px;
}

[class^='eje-'] {
    left: 0;
    bottom: 0rem;
    width: 100%;
    padding: 1rem 1rem 0 2rem;
    height: 50%;
}
  
/* Donuts charts */
p.center-date {
	background-color: black;
    position: absolute;
    text-align: center;
    top:0;left:0;bottom:0;right:0;
    width: 75%;
    height: 75%;
    margin: auto;
    border-radius: 50%;
    padding: 15% 0 0;
}

.block {
    display:block;
}
.timehover {
    cursor:pointer;
}
.timehover:hover {
    box-shadow:0px 0px 5px 5px rgba(255,0,255,0.15);
    border-radius:10px;
}

span.scnd-font-color {
    line-height: 0;  
}
.par_an {
    font-size:14px;
    font-weight:normal;
    margin:5px;
}

.graph {
    height:200px;
    display:flex;
    background-color:#111;
    margin:5px;
    padding:5px;
    border-radius:10px;
    position: relative;
}
.graph-bar {
    flex:1;
    background-color:lime;
    display:inline-block;
}

#input-research {
    align-items: center;
    text-align: center;
}
#search-bar {
    display:inline-block;
    width:calc(100% - 60px);
    height:30px;
    border: 2px solid #282828;
    border-radius: 10px 0px 0px 10px;
    background-color: black;
    text-align: justify;
    color: white;
    padding:5px;
    font-size:1.1em;
    vertical-align:top;
}
#research-button {
    display:inline-block;
    width:45px;
    border-radius:0px 10px 10px 0px;
    background-color:#282828;
    border:none;
    vertical-align:top;
    height:44px;
    text-align:center;
    cursor:pointer;
}
#search-icon {
    height:100%;
}
#research_container {
    position:relative;
}
#first-illagal-action {
    background-color:#333;
    margin:none;
    margin:-15px -20px -1px -20px;
    border-radius:10px;
    padding:10px;
}
#first-illagal-action h2 {
    border:none;
    font-size:0.8em;
}
#first-illagal-action .data-big {
    font-size:5em;
}
#backimg {
    z-index:-1;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}
#backimg img {
    position:fixed;
    bottom:0px;
    right:0px;
}
@media screen and (max-width:800px) {
    .both-column {
        display:block;
    }
}