* {
	padding:0px;
	margin:0px;
	font-family:arial;
}
div {
	text-align:center;
}
h2 {
	color:#717a8d;
	padding:10px;
}
.container {
	display:flex;
	justify-content:flex-start;
	flex-wrap:wrap;
}
.widget {
	margin:10px;
	box-shadow:2px 2px 3px 3px rgba(0,0,0,0.3);
	min-width:200px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.icon {
	height:20px;
}
.flexrow {
	display:flex;
	justify-content:space-around;
}
.roundbtn {
	font-weight:bold;
	font-size:25px;
	width:30px;
	height:30px;
	text-align:center;
	border-radius:18px;
	
}
.plus {
	background-color:#2699d0;
	color:white;
}
.minus {
	background-color:#e66f55;
	color:white;
}
.content {
	margin:20px;
}

#micro {
	margin-top:10px;
	background-color:#f8f8ff;
	padding:20px;
}
#micro img {
	height:40px;
}
#dontforget {
	background-color:#2180ac;
	color:white;
}
#dontforget h2 {
	background-color:#239ed9;
	color:white;
}
#deux {

}