* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}
body {
	background: #1f253d;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

/******************************************** LEFT CONTAINER *****************************************/

.grafico {
    padding: 1rem 1rem 1rem 1rem; 
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    background-color: #202021;
    font-size: 80%;
}

[class^='eje-'] {
  position: absolute;
  left: 0;
  bottom: 0rem;
  width: 100%;
  padding: 1rem 1rem 0 2rem;
  height: 100%;
}
.eje-x {
    height: 2.5rem;
    column-count: 15;
    text-align: center;
    display: inline-flex;
    padding-top: 0%;
}
.eje-y li {
  height: 25%;
  border-top: 1px solid #777;
}

[data-ejeY]:before {
  content: attr(data-ejeY);
  display: inline-block;
  width: 2rem;
  text-align: right;
  line-height: 0;
  position: relative;
  left: -2.5rem;
  top: -.5rem;
} 
.eje-x li {
  width: 33%;
  float: left;
  text-align: center;
}

/**************************
BAR-CHART
**************************/
.grafico.bar-chart {
  /* padding: 0 1rem 2rem 1rem; */
  width: 100%;
  height: 60%;
  position: relative;
  color: #fff;
  /* font-size: 80%; */
}

.bar-chart .eje-y li {
  height: 20%;
  border-top: 1px solid #fff;
}
.bar-chart .eje-x li {
  width: 10%;
  position: relative;
}
.bar-chart .eje-x li i {
  transform: rotatez(-45deg) translatex(-1rem);
  transform-origin: 30% 60%;
  /* display: block; */
}
.bar-chart .eje-x li:before {
  content: '';
  position: absolute;
  bottom: 5.2rem;
  width: 30%;
  box-shadow: 3px 0 rgba(0,0,0,.1), 3px -3px rgba(0,0,0,.1);

}
.bar-chart .eje-x li:nth-child(1):before {
  background: #28AB65;  
  height: 100%;
}
.bar-chart .eje-x li:nth-child(2):before {
  background: #642F88;  
  height: 90%;
}
.bar-chart .eje-x li:nth-child(3):before {
  background: #28AB65;  
  height: 400%;
}
.bar-chart .eje-x li:nth-child(4):before {
  background: #642F88;  
  height: 200%;
}
.bar-chart .eje-x li:nth-child(5):before {
  background: #28AB65;  
  height: 70%;
}
.bar-chart .eje-x li:nth-child(6):before {
  background: #642F88;  
  height: 80%;
}
.bar-chart .eje-x li:nth-child(7):before {
  background: #28AB65;  
  height: 500%;
}
.bar-chart .eje-x li:nth-child(8):before {
    background: #642F88;  
    height: 80%;
}
.bar-chart .eje-x li:nth-child(9):before {
    background: #28AB65;  
    height: 50%;
}
.bar-chart .eje-x li:nth-child(10):before {
    background: #642F88;  
    height: 80%;
}
.bar-chart .eje-x li:nth-child(11):before {
    background: #28AB65;  
    height: 50%;
}
.bar-chart .eje-x li:nth-child(12):before {
    background: #642F88;  
    height: 80%;
}
.bar-chart .eje-x li:nth-child(13):before {
    background: #28AB65;  
    height: 50%;
}
.bar-chart .eje-x li:nth-child(14):before {
    background: #642F88;  
    height: 80%;
}
.bar-chart .eje-x li:nth-child(15):before {
    background: #28AB65;  
    height: 50%;
}
.bar-chart .eje-x li:nth-child(16):before {
    background: #642F88;  
    height: 80%;
}
.bar-chart .eje-x li:nth-child(17):before {
    background: #28AB65;  
    height: 520%;
}
.bar-chart .eje-x li:nth-child(18):before {
    background: #642F88;  
    height: 820%;
}
.bar-chart .eje-x li:nth-child(19):before {
    background: #28AB65;  
    height: 520%;
}
.bar-chart .eje-x li:nth-child(20):before {
    background: #642F88;  
    height: 80%;
}
.bar-chart .eje-x li:nth-child(21):before {
    background: #28AB65;  
    height: 520%;
}
.bar-chart .eje-x li:nth-child(22):before {
    background: #642F88;  
    height: 820%;
}
.bar-chart .eje-x li:nth-child(23):before {
    background: #28AB65;  
    height: 520%;
}
.bar-chart .eje-x li:nth-child(24):before {
    background: #642F88;  
    height: 200%;
}
.bar-chart .eje-x li:nth-child(25):before {
    background: #28AB65;  
    height: 500%;
}
.bar-chart .eje-x li:nth-child(26):before {
    background: #642F88;  
    height: 820%;
}
.bar-chart .eje-x li:nth-child(27):before {
    background: #28AB65;  
    height: 520%;
}
.bar-chart .eje-x li:nth-child(28):before {
    background: #642F88;  
    height: 200%;
}
.bar-chart .eje-x li:nth-child(29):before {
    background: #28AB65;  
    height: 200%;
}
.bar-chart .eje-x li:nth-child(30):before {
    background: #642F88;  
    height: 800%;
}
