body {
	background-color: black;
	color: white;
    font-family: arial; 
    overflow : scroll;
    width: 100%;
    height: 100%;
}

.title {
    text-align: -webkit-left;
}

.big-block {
	border: 1px solid #000000;
	margin: 1%;
	padding: 1%;
    box-shadow: 0px 0px 5px 2px #154360;
    border-radius: 10px;
    flex: 2;
}

.both-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container{
    flex-direction: row;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.small-blocks {
	display: grid;
    justify-content: space-around;
    align-items: center;
}

button {
    background-color: white;
    width: 10%;
    height: 20%;
    border: none;
    border-radius: 10px;
    /* background: url('../assets/search.png') no-repeat; */
}

#search-icon {
    width: 10%;
}

input {
    border: 2px solid #282828;
    border-radius: 10px;
    background-color: black;
    text-align: justify;
    color: white;
}

.input-research {
    display: flex;
    align-items: center;
    text-align: center;
    width: 10%;
    height: 10%;
}

.block-img {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.img-map {
    width: 30%;
    height: 30%;
}

/* Progresss bar stuff */

#progress {
    width: 300px;
    margin: auto;
}

progress{
    display: inline-block;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 300px;
    height: 20px;
    padding: 3px 3px 2px 3px;
    background: blue; 
    background: -webkit-linear-gradient(#2d2d2d,#444);
    background:    -moz-linear-gradient(#2d2d2d,#444);
    background:      -o-linear-gradient(#2d2d2d,#444);
    background:         linear-gradient(#2d2d2d,#444);
    border: 1px solid #154360;
    border-radius: 15px;
    box-shadow: 0 1px 0 #154360;   
}

/* Bar Style for Chrome */
progress::-webkit-progress-value{
    border-radius:10px;
    background: #09c;
    background: 
      -moz-repeating-linear-gradient(
        45deg, 
        rgba(255,255,255,.2) 0,
        rgba(255,255,255,.2) 10px, 
        rgba(255,255,255,0) 10px,
        rgba(255,255,255,0) 20px
      ),
      -moz-linear-gradient(
        rgba(255,255,255,.1) 50%,
        rgba(255,255,255,0) 60%
      ),
      #09c;
    background: 
      repeating-linear-gradient(
        45deg, 
        rgba(255,255,255,.2) 0,
        rgba(255,255,255,.2) 10px, 
        rgba(255,255,255,0) 10px,
        rgba(255,255,255,0) 20px
      ),
      linear-gradient(
        rgba(255,255,255,.1) 50%,
        rgba(255,255,255,0) 60%
      ),
      #09c;
    background-size: 300px 20px, auto, auto;
    background-position: -300px 0, top, top;
    background-position: top right, top, top;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 
                0 -1px 0 rgba(0,0,0,.8) inset,
                0 0 2px black;
  
}

/* Remove background color */
progress::-webkit-progress-bar{
    background: transparent;
}

/*Animation bar*/
progress[value='100'] span{
    width: 100%;
}
progress[value^='9']:not([value^='9.']):not([value='9']) span{
    width: 95%;
}
progress[value^='8']:not([value^='8.']):not([value='8']) span{
    width: 85%;
}
progress[value^='7']:not([value^='7.']):not([value='7']) span{
    width: 75%;
}
progress[value^='6']:not([value^='6.']):not([value='6']) span{
    width: 65%;
}
progress[value^='5']:not([value^='5.']):not([value='5']) span{
    width: 55%;
}
progress[value^='4']:not([value^='4.']):not([value='4']) span{
    width: 45%;
}
progress[value^='3']:not([value^='3.']):not([value='3']) span{
    width: 35%;
}
progress[value^='2']:not([value^='2.']):not([value='2']) span{
    width: 25%;
}
progress[value^='1']:not([value^='1.']):not([value='1']):not([value='100']) span{
    width: 15%;
}

progress span{
    -webkit-transition: width 1.6s linear;
        -moz-transition: width 1.6s linear;
          -o-transition: width 1.6s linear;
             transition: width 1.6s linear;
}

/* add in js file */
/*function modifValues(){
    var val = $('#progress progress').attr('value');
    if(val>=100){val=5;}
    var newVal = val*1+0.25;
    var txt = Math.floor(newVal)+'%';      
      
    $('#progress progress').attr('value',newVal).text(txt);
    $('#progress strong').html(txt);
}
setInterval(function(){ modifValues(); },40);*/

/* Sections bars */

/* Container for sections bars */
.container-section {
  width: 100%; /* Full width */
}

.danger-periode {
    margin-bottom: 0;
}

.section {
  text-align: right; /* Right-align text */
  padding: 10px; /* Add some padding */
  color: white; /* White text color */
}

.meurtre {width: 90%; background-color: #1A5276;}
.viol {width: 80%; background-color: #1F618D;} 
.agression {width: 65%; background-color: #2471A3;}
.banditisme {width: 60%; background-color: #2980B9;} 


/* Graph stuff */

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

p {
	font-size: 15px;
}

.block {
    margin: 25px 25px 25px 25px;
    float: left;
}

.line-chart {
    height: 100%;
}

.grafico {
    padding: 1rem 1rem 1rem 1rem; 
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    background-color: #202021;
    font-size: 80%;
}

.grafico span {
    display: block;
    position: absolute;
    bottom: 2.5rem;
    left: 6em;
	color: #28AB65;
    border-top: 2px solid;
    transform-origin: left center;
}

.grafico span > span {
    left: 100%; bottom: 0;
}

[data-valor='25'] {width: 10%; transform: rotate(-30deg);}
[data-valor='8'] {width: 100%; transform: rotate(50deg);}
[data-valor='13'] {width: 100%; transform: rotate(-30deg);}
[data-valor='5'] {width: 50%; transform: rotate(40deg);}
[data-valor='23'] {width: 100%; transform: rotate(-40deg);}
[data-valor='12'] {width: 100%; transform: rotate(30deg);}
[data-valor='15'] {width: 100%; transform: rotate(-20deg);}
[data-valor='56'] {width: 100%; transform: rotate(-50deg);}

[class^='eje-'] {
    left: 0;
    bottom: 0rem;
    width: 100%;
    padding: 1rem 1rem 0 2rem;
    height: 50%;
}

.eje-x {
    column-count: 15;
    text-align: center;
    display: inline-flex;
    padding-top: 12%;
    padding-right: 12%;
}

.eje-x li {
    height: 100%;
    width: 100%;
    float: left;
    text-align: center;    
    transform: rotate(-35deg);
}
  
/* Donuts charts */

.donuts {
  width: 10rem;
  height: 10rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #28AB65 linear-gradient(to right, #642F88 50%, #28AB65 50%);
  border-radius: 50%;
}

.legend {
    width: 5%;
    height: 10%;
}

.legend p {
    color: white;
    font-size: 10px;
    margin: 0 0 0 -1.5rem;
}

.green-square {
    background-color: #28AB65;
    margin-left: 75%;
    margin-bottom: 12%;
}

.purple-square, span.purple-square {
    background-color: #642F88;
    margin-left: 75%;
    margin-bottom: 9%;
}

.grafico span.purple-square {
    color: #642F88;
}

.purple-square p {
    margin: 0 0 0 -2.3rem;
}

.local-danger {
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
}

.local-danger p {
    font-size: 10px;
    text-align: right;
    width: inherit;
    margin-left: 40%;
}

span.local-danger-title {
    font-size: 30px;
}

span.local-danger-pourcent {
    font-size: 40px;
    text-align: center;
}

.sexual-abuse, .car-accident {
    display: inline-grid;
    width: 40%;
    height: 40%;
    background-color: #202021;
    margin: auto;
    padding: 2% 0% 2% 2%;
}

.grafico, .sexual-abuse, .car-accident {
    border-radius: 10px;
}

/* pour charts, donuts and graph with js : https://codepen.io/ejsado/pen/HLgzK */
