body {
	background-color: black;
	color: white;
	font-family: arial;
}

.big-block {
	border:3px solid #000000;
	margin: 3%;
	padding: 1%;
	box-shadow: 0px 0px 10px 5px purple;
}

.small-blocks {
	display:flex;
	justify-content: space-around;
}

#search-icon {
	width: 10%;
	height: 10%;
}

.input-research {
	display: flex;
}
